<h2 class="text-center">Споји!</h2>
<div class="col-sm-12 col-md-12 col-lg-12">
    <button ng-click="refresh()" class="form-control btn btn-primary">
        Предложени људи
    </button>
    <div ng-repeat="user in responseObject track by $index" class="row">
        <div class="col-xs-4" role="group">
            <label class="form-control" role="group">
                {{user.userName}}
            </label>
        </div>
        <div class="col-xs-4" role="group">
            <label class="form-control" role="group">
                {{user.userScore}}
            </label>
        </div>
        <div class="col-xs-4 btn-group" role="group">
            <div class="btn-group" role="group">
                <button ng-click="follow(user.userName)" class="btn btn-success">
                    Прати
                </button>
            </div>
            <div class="btn-group" role="group">
                <button ng-click="block(user.userName)" class="btn btn-danger">
                    Блокирај
                </button>
            </div>
        </div>
    </div>
</div>