<div  class="col-sm-12 col-md-12">

    <!--<input  placeholder="2012-10-01" type="date" class='form-control'/>-->

    <h2>Промените своје информације</h2>
    <!--<div ng-repeat="info in responseObject track by $index" class="row">-->
        <!--<span class="col-xs-6">{{info.label}}</span>-->
        <!--<input class="btn btn-default col-xs-6" type="text"-->
               <!--ng-model="savedData.selected[info.name]"-->
               <!--ng-true-value="'{{info.name}}'" ng-false-value="{{null}}"-->
               <!--placeholder="{{info.value}}" ng-style="settingsInputStyle"-->
               <!--data-toggle="tooltip" title="{{info.hoverMessage}}">-->
    <!--</div>-->
    <div>
        <div class="row">
            <span class="col-xs-6">Име: </span>
            <div class="col-xs-6">
                <input class="form-control col-xs-6" type="text"
                       ng-model="sendData.selected.firstName"
                       placeholder="{{settingsData.firstName}}"
                       ng-style="settingsInputStyle"
                       data-toggle="tooltip" title="До 45 карактера">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Презиме: </span>
            <div class="col-xs-6">
                <input class="form-control col-xs-6" type="text"
                       ng-model="sendData.selected.lastName"
                       placeholder="{{settingsData.lastName}}"
                       ng-style="settingsInputStyle"
                       data-toggle="tooltip" title="До 45 карактера">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Датум рођења: </span>
            <div class="col-xs-6">
                <input class="form-control"
                       type="date"
                       ng-model="sendData.selected.birthDate"
                       placeholder="{{settingsData.birthDate}}"
                       ng-style="settingsInputStyle"
                       data-toggle="tooltip" title="ГГГГ-ММ-ДД">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Пол: </span>
            <!--<input class="btn btn-default col-xs-6" type="text"-->
                   <!--ng-model="sendData.selected.sex"-->
                   <!--placeholder="{{settingsData.sex}}"-->
                   <!--ng-style="settingsInputStyle"-->
                   <!--data-toggle="tooltip" title="Један карактер: М, Z">-->
            <div class="col-xs-6">
                <select ng-model="sendData.selected.sex"
                        class="form-control col-xs-6"
                        placeholder="{{settingsData.sex}}"
                        data-toggle="tooltip" title="Један карактер: М, Z">
                    <option value="" disabled selected>
                        {{settingsData.sex}}
                    </option>
                    <option value='M'>М</option>
                    <option value='Ж'>Ж</option>
                </select>
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Место: </span>
            <div class="col-xs-6">
                <input class="form-control col-xs-6" type="text"
                       ng-model="sendData.selected.location"
                       placeholder="{{settingsData.location}}"
                       ng-style="settingsInputStyle"
                       data-toggle="tooltip" title="До 45 карактера">
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Статус везе: </span>
            <!--<input class="btn btn-default col-xs-6" type="text"-->
                   <!--ng-model="sendData.selected.relationshipStatus"-->
                   <!--placeholder="{{settingsData.relationshipStatus}}"-->
                   <!--ng-style="settingsInputStyle"-->
                   <!--data-toggle="tooltip" title="До 45 карактера">-->
            <div class="col-xs-6">
                <select ng-model="sendData.selected.relationshipStatus"
                        class="form-control col-xs-6"
                        placeholder="{{settingsData.relationshipStatus}}"
                        data-toggle="tooltip" title="До 45 карактера">
                    <option value="" disabled selected>
                        {{settingsData.relationshipStatus}}
                    </option>
                    <option value='Сам/а'>Сам/а</option>
                    <option value='У вези'>У вези</option>
                </select>
            </div>
        </div>
        <div class="row">
            <span class="col-xs-6">Слика: </span>
            <div class="col-xs-6">
                <input class="form-control btn btn-default"
                       type="file"  file-input="files"
                       name="file" accept="image/*" fd-input/>
            </div>
            <img id="profile-pic" ng-src="data:image/*;base64,{{profilePicture}}"/>
        </div>
    </div>
    <div>
        <button ng-click="saveData()" class="btn btn-primary">Сачувај</button>
    </div>
    <h2>Опишите се</h2>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            <form ng-submit="saveUserTag(tag)">
                <input ng-model="tag" type="text"
                       class="btn btn-default"
                       placeholder="Унеси ознаку"
                       list="userTagValues">
                <datalist id="userTagValues">
                    <option ng-repeat="userTagName in userTagNames track by $index">
                        {{userTagName.preferenceName}}
                    </option>
                </datalist>
            </form>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="saveUserTag(tag)" class="form-control btn btn-primary">Сачувај</button>
        </div>
    </div>
    <div class="input-group"
         ng-repeat="userTag in userTags track by $index">
        <span class="input-group-addon" style="color: #0f0f0f">
            Ознака: {{userTag.preferenceName}}
        </span>
        <button class="btn btn-sm btn-danger"
                ng-click="delUserTag(userTags[$index].preferenceName)">
            X
        </button>
    </div>
    <h2>Шта тражите?</h2>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            <form ng-submit="savePrefTag(prefTag, value)">
                <input ng-model="prefTag" type="text"
                       class="btn btn-default"
                       placeholder="Унеси ознаку"
                       list="prefTagValues">
                <datalist id="prefTagValues">
                    <option ng-repeat="userTagName in userTagNames track by $index">
                        {{userTagName.preferenceName}}
                    </option>
                </datalist>
            </form>
        </div>
        <div class="btn-group" role="group">
            <form ng-submit="savePrefTag(prefTag, value)">
                <select ng-model="value"
                        class="btn btn-default"
                        placeholder="Значај од -10 до 10">
                    <option value="" disabled selected>Значај од -10 до 10</option>
                    <option value='-10'>-10</option>
                    <option value='-9'>-9</option>
                    <option value='-8'>-8</option>
                    <option value='-7'>-7</option>
                    <option value='-6'>-6</option>
                    <option value='-5'>-5</option>
                    <option value='-4'>-4</option>
                    <option value='-3'>-3</option>
                    <option value='-2'>-2</option>
                    <option value='-1'>-1</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                </select>
                <!--<input ng-model="value" type="number"-->
                       <!--min="-10" max="10"-->
                       <!--class="btn btn-default"-->
                       <!--placeholder="Значај од -10 до 10">-->
            </form>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="savePrefTag(prefTag, value)" class="btn btn-primary">Сачувај</button>
        </div>
    </div>
    <div class="input-group"
         ng-repeat="userPrefTag in userPrefTags track by $index">
        <span class="input-group-addon" style="color: #0f0f0f">
            Ознака: {{userPrefTag.preferenceName}} | Оцена: {{userPrefTag.value}}
        </span>
        <button class="btn btn-sm btn-danger"
                ng-click="delPrefTag(userPrefTags[$index].preferenceName, userPrefTags[$index].value)">
            X
        </button>
    </div>
</div>