<div  class="col-sm-12 col-md-12">

    <!--<input  placeholder="2012-10-01" type="date" class='form-control'/>-->

    <h2>Промените своје информације</h2>
    <div ng-repeat="info in responseObject track by $index" class="row">
        <span class="col-xs-6">{{info.label}}</span>
        <input class="btn btn-default col-xs-6" type="text"
               ng-model="savedData.selected[info.name]"
               ng-true-value="'{{info.name}}'" ng-false-value="{{null}}"
               placeholder="{{info.value}}" ng-style="settingsInputStyle"
               data-toggle="tooltip" title="{{info.hoverMessage}}">
        <!--<span class="help">{{info.hoverMessage}}</span>-->
    </div>
    <div>
        <button ng-click="saveData()" class="btn btn-primary">Сачувај</button>
    </div>
    <h2>Опишите се</h2>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            <form ng-submit="saveUserTag(tag)">
                <input ng-model="tag" type="text"
                       class="btn btn-default"
                       placeholder="Унеси ознаку"
                       list="userTagValues">
                <datalist id="userTagValues">
                    <option ng-repeat="userTagName in userTagNames track by $index">
                        {{userTagName.preferenceName}}
                    </option>
                </datalist>
            </form>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="saveUserTag(tag)" class="btn btn-primary">Сачувај</button>
        </div>
    </div>
    <div ng-repeat="userTag in userTags track by $index">
        <span class="btn-success">{{userTag.preferenceName}}</span>
        <button class="btn-xs btn-danger"
                ng-click="delUserTag(userTags[$index].preferenceName)">
            Избриши
        </button>
    </div>
    <h2>Шта тражите?</h2>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group">
            <form ng-submit="savePrefTag(prefTag, value)">
                <input ng-model="prefTag" type="text"
                       class="btn btn-default"
                       placeholder="Унеси ознаку"
                       list="prefTagValues">
                <datalist id="prefTagValues">
                    <option ng-repeat="userTagName in userTagNames track by $index">
                        {{userTagName.preferenceName}}
                    </option>
                </datalist>
            </form>
        </div>
        <div class="btn-group" role="group">
            <form ng-submit="savePrefTag(prefTag, value)">
                <input ng-model="value" type="number"
                       class="btn btn-default"
                       placeholder="Значај од -10 до 10">
            </form>
        </div>
        <div class="btn-group" role="group">
            <button ng-click="savePrefTag(prefTag, value)" class="btn btn-primary">Сачувај</button>
        </div>
    </div>
    <div ng-repeat="userPrefTag in userPrefTags track by $index">
        <span class="btn-success">{{userPrefTag.preferenceName}}|{{userPrefTag.value}}</span>
        <button class="btn-xs btn-danger"
                ng-click="delPrefTag(userPrefTags[$index].preferenceName, userPrefTags[$index].value)">
            Избриши
        </button>
    </div>
</div>